<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Post Form</title>
    </head>
    <body>
        <a href="/post/viewDetails">View Details</a>
        <form method="post" action="/post/postData" enctype="multipart/form-data" >
            <table border="1">
                <tr>
                    <td>Post Title:</td>
                    <td>
                        <input type="text" name="title" />
                    </td>
                </tr>
                <tr>
                    <td>Post Description:</td>
                    <td>
                        <textarea name="description"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Post Image:</td>
                    <td>
                        <input type="file" name="postImage" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
